:root {
    --back-ground-color: rgb(232, 243, 255);
    --modal-list-bg-color: rgb(248, 249, 255);
    --font-primary-color: rgb(55, 55, 81);
    --font-secondary-color: rgb(87, 87, 128);
    --green-btn-color: rgb(26, 144, 101);
    --green-btn-hover-color: rgb(26, 144, 101);
    --red-btn-color: rgb(215, 43, 43);
    --red-btn-hover-color: rgb(215, 43, 43);
    --border-color: rgb(226, 219, 250);
    --box-shadow-color: rgb(204, 205, 212);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--back-ground-color);
    display: flex;
    justify-content: center;
}

.fade {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    backdrop-filter: brightness(50%) blur(2px);
}

.new-item_desk {
    display: none;
}

/* .hide {
    opacity: 0;
    z-index: -5;
    pointer-events: none;
} */

.hide-list-options {
    opacity: 0;
    height: 0;
    pointer-events: none;
}